<mat-tab-group (focusChange)="changeMainCat($event)">
  <mat-tab label="{{Main.name}}" *ngFor="let Main of mainCategoryList">
    <mat-tab-group *ngIf="showSecondHeader" (focusChange)="changeSubCat($event)">
      <mat-tab label="{{SubMain.name}}" *ngFor="let SubMain of subMainCategoryList">


        <div fxLayout="row warp" fxLayoutAlign="space-evenly stretch" *ngIf="showNews">
          <app-news-card [newsCardData]="New" fxFlex.xs="100" fxFlex.sm="100" fxFlex="30" fxFill
            *ngFor="let New of allNewsList"></app-news-card>
        </div>

      </mat-tab>
    </mat-tab-group>
  </mat-tab>
</mat-tab-group>