.THAT_DESC{
    text-align: right;
    min-height: 35px;
    cursor: pointer;
}
.THAT_TITLE{
    text-align: right;
    cursor: pointer;
}
.THAT_INFO{
    display: inline-block;
}
.THAT_CARD{
    border-radius: 4px;
    margin: 10px 0;
    // border-bottom: 5px solid #eee;
    box-shadow: 4px 4px 8px #eee;
}
.THAT_CARD_IMG{
    height: 230px;
    object-fit: cover;
    cursor: pointer;
}
