<mat-card flat class="THAT_CARD">
  <mat-card-header (click)="openNewTab(newsCardData.url)">
    <mat-card-title class="THAT_TITLE">
      <h4>{{newsCardData.title | slice:0:60}}</h4>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image class="THAT_CARD_IMG" src="{{newsCardData.urlToImage}}" *ngIf="newsCardData.urlToImage"
    (click)="openNewTab(newsCardData.url)">
  <img mat-card-image class="THAT_CARD_IMG"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Circle-icons-news.svg/512px-Circle-icons-news.svg"
    *ngIf="!newsCardData.urlToImage" (click)="openNewTab(newsCardData.url)">
  <mat-card-content (click)="openNewTab(newsCardData.url)">
    <p class="THAT_DESC" *ngIf="newsCardData.description">
      {{newsCardData.description | slice:0:100}}
    </p>
    <p class="THAT_DESC" *ngIf="!newsCardData.description">
      {{newsCardData.title | slice:0:100}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <mat-icon class="THAT_ICON">favorite_outline</mat-icon>
      <span>LIKE</span>
    </button>
    <button mat-button>
      <mat-icon class="THAT_ICON">share_outline</mat-icon>
      <span>SHARE</span>
    </button>
  </mat-card-actions>
</mat-card>